<header>
	<h1>Lord Of The Dungeons</h1>
	{% if show_signup_button %}
		<a href="signup">Inscription</a>
	{% endif %}
	{% if show_signin_button %}
		<a href="signin">Connexion</a>
	{% endif %}
</header>