<!DOCTYPE html>
<html>
<head>
	{% assign title = 'Mon compte' %}
    {% include 'head' %}
</head>
<body>
	{% assign show_signup_button = false %}
    {% assign show_signin_button = true %}
    {% include 'header' %}
    
    <main>
        <h2>Mon compte</h2>
        <div id="content">
            <form
                id="form"
                action="javascript:;"
                onsubmit="login(this)">
                <fieldset>
                    <div>
                        <label for="id">Nom d'utilisateur:</label>
                        <input type="text" name="id" required/>
                    </div>
                    <div>
                        <label for="password">Mot de passe:</label>
                        <input type="password" name="password" required/>
                        <span id="error-password" style="color:red"></span>
                    </div>
                    <input type="submit" value="Connexion">
                </fieldset>
            </form>
        </div>
    </main>

    {% include 'footer' %}

    <script>
        function login(form) {
            let formData = new FormData(form);

            let id = formData.get('id');
            let password = formData.get('password');

            console.log(id, password);

            let auth = btoa(`${id}:${password}`);

            console.log(auth);

            fetch("api/account/signin", {
                method: "POST",
                headers: {
                    "Authorization": `Basic ${auth}`,
                }
            }).then(
                response => response.json()
                    .then(
                        data => loginResult(data.Success),
                        error => loginResult(false),
                    ),
                error => loginResult(false),    
            );
        }

        function loginResult(success) {
            if (success) {
                document.getElementById("content").innerText = "Connecté !";
            }
            else {
                document.getElementById("error-password").innerText = "L'identifiant et le mot de passe ne correspondent pas";
            }
        }
    </script>
</body>
</html>